<md-card flex layout-padding>
  <md-card-content>
    <smart-list
      permissions="permissions"
      items="items"
      title="title"
      columns="columns"
      state="state"
      resource="resource"
      search-mode="searchMode"
      create-mode="createMode"
      edit-mode="editMode"
      delete-mode="deleteMode"
      filter="filter">
    </smart-list>
  </md-card-content>
</md-card>