 <md-sidenav
     md-is-locked-open="$mdMedia('gt-md')" 
     md-component-id="leftmenu"
     md-whiteframe="5"
     flex="100"
     style="width: 250px;">
  <md-list flex>
    <md-list-item class="md-3-line" ng-if="$ctrl.Auth.user">     
      <div class="md-list-item-text" layout="row" flex>
        <div class="flex">
          <h3 ng-bind="$ctrl.Auth.user.name || $ctrl.Auth.user.login"></h3>
          <h4 ng-bind="$ctrl.Auth.user.email"></h4>
          <p></p>
        </div>
        <div>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
              <md-icon class="mdi mdi-menu"></md-icon>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button ui-sref="user.edit({ id: $ctrl.Auth.user.uuid })" ng-click="$ctrl.closeMenu()">
                  <md-icon class="mdi mdi-account"></md-icon>
                  {{ 'COMPONENT.SIDENAV.USER_MENU.PROFILE' | translate }}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$ctrl.logout(); $ctrl.closeMenu()">
                  <md-icon class="mdi mdi-logout"></md-icon>
                  {{ 'COMPONENT.SIDENAV.USER_MENU.LOGOUT' | translate }}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-if="!$ctrl.Auth.user">
      <div class="md-list-item-text" layout="column">
        <md-button class="md-raised" ui-sref="login" ng-click="$ctrl.closeMenu()" aria-label="Login" translate="COMPONENT.SIDENAV.UNREGISTER.LOGIN"></md-button>
<!--        <md-button class="md-raised" ui-sref="register" ng-click="$ctrl.closeMenu()" translate="COMPONENT.SIDENAV.UNREGISTER.REGISTER" aria-label="Register"></md-button>-->
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-2-line" ng-repeat="menuItem in $ctrl.menu" ng-click="$ctrl.closeMenu()" ui-sref="{{ menuItem.sref }}" ng-if="$ctrl.Auth.cPerm(menuItem.permission)" aria-label="{{menuItem.title}}">
      <md-icon class="mdi mdi-{{ menuItem.icon }} md-avatar"></md-icon>
      <div class="md-list-item-text">
        <h3 ng-bind="menuItem.title"></h3>
        <p ng-bind="menuItem.description"></p>
      </div>
    </md-list-item>
  </md-list>
</md-sidenav> 