md-input-container md-datepicker button {
  margin: -12px 0 0 0 !important;
  padding: 8px 0 8px 0 !important;
  width: 30px !important;
}

md-input-container md-datepicker .md-datepicker-input-container {
  margin-left: 6px !important;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon>label:not(.md-no-float):not(.md-container-ignore) {
  right: auto !important;
}