<div layout="row" layout-xs="column" >
  <md-card flex>
    <md-card-content>
      <action-buttons save="save()" action-disabled="form.$invalid"></action-buttons>
      <form name="form">
        <md-input-container class="md-block">
          <md-icon class="mdi mdi-account-card-details"></md-icon>
          <input ng-model="role.name" name="name" placeholder="{{ 'ENTITY.ROLE.FORM.NAME.PLACEHOLDER' | translate}}" 
                ng-maxlength="50"
                ng-pattern="/^[A-Za-z0-9-_А-Яа-яЁёІіЇїєЄ ']*$/">
          <div ng-messages="form.name.$error" multiple>
            <div ng-message="maxlength">{{ 'VALIDATION.MAXLEN' | translate:{ len: '50' } }}</div>
            <div ng-message="pattern">{{ 'VALIDATION.PATTERN.NAME' | translate }}</div>
          </div>
        </md-input-container>
      </form>
      
      <fieldset class="standard">
        <legend>{{ 'ENTITY.ROLE.FORM.PERMISSIONS.LEGEND' | translate}}</legend>
        <div layout="row" flex="100" ng-repeat="permission in permissions.rows" >
          <md-checkbox ng-model="role.permissions[permission.code]" aria-label="Checkbox-{{permission.code}}" flex>
            {{ permission.description }}
          </md-checkbox>
        </div>
      </fieldset>

      <action-buttons save="save()" action-disabled="form.$invalid"></action-buttons>
    </md-card-content>
  </md-card>
</div>