<div layout="row" layout-xs="column" >
  <md-card flex="55">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" md-truncate translate="ENTITY.AUTH.FORM.LOGIN.TITLE"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-input-container class="md-block">
        <md-icon class="mdi mdi-account" style="font-size: 24px"></md-icon>
        <input ng-model="login" type="login" placeholder="{{ 'ENTITY.AUTH.FORM.LOGIN.LOGIN.PLACEHOLDER' | translate }}" ng-required="true">
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon class="mdi mdi-textbox-password" style="font-size: 24px"></md-icon>
        <input ng-model="password" type="password" placeholder="{{ 'ENTITY.AUTH.FORM.LOGIN.PASSWORD.PLACEHOLDER' | translate }}" ng-required="true">
      </md-input-container>
      
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-disabled="!login || !password" ng-click="loginAction(login, password)" translate="ENTITY.AUTH.FORM.LOGIN.BUTTONS.LOGIN"></md-button>
      </md-card-actions>

    </md-card-content>
  </md-card>
</div>