<div layout="row" layout-xs="column" >
  <md-card flex>
    <md-card-content>
      <action-buttons save="save()" action-disabled="form.$invalid"></action-buttons>
      <form name="form">
        <md-input-container class="md-block">
          <md-icon class="mdi mdi-account"></md-icon>
          <input ng-model="user.login" name="login" type="login" placeholder="{{ 'ENTITY.USER.FORM.LOGIN.PLACEHOLDER' | translate }}" 
              ng-required="true" 
              ng-minlength="3" 
              ng-maxlength="60"
              ng-pattern="/^[A-Za-z0-9-_]*$/"
              uniq="'login'"
              uniq-service="User"
              uniq-uuid="user.uuid">
          <div ng-messages="form.login.$error" multiple>
            <div ng-message="uniq">{{ 'VALIDATION.UNIQ.LOGIN' | translate }}</div>
            <div ng-message="minlength">{{ 'VALIDATION.MINLEN' | translate:{ len: '3' } }}</div>
            <div ng-message="maxlength">{{ 'VALIDATION.MAXLEN' | translate:{ len: '60' } }}</div>
            <div ng-message="pattern">{{ 'VALIDATION.PATTERN.LOGIN' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ 'ENTITY.USER.FORM.ROLE.PLACEHOLDER' | translate }}</label>
          <md-icon class="mdi mdi-account-key"></md-icon>
          <md-select ng-model="user.roleId">
            <md-option ng-repeat="role in roles.rows" value="{{ role.id }}" >
              {{ role.name }}
            </md-option>
          </md-select>
        </md-input-container>        
       
        <md-input-container class="md-block" ng-if="!user.uuid">
          <md-icon class="mdi mdi-textbox-password"></md-icon>
          <input ng-model="user.password" name="password" type="password" placeholder="{{ 'ENTITY.USER.FORM.PASSWORD.PLACEHOLDER' | translate }}" required="true" ng-minlength="6">
          <div ng-messages="form.password.$error" multiple>
            <div ng-message="minlength">{{ 'VALIDATION.MINLEN' | translate:{ len: '6' } }}</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" ng-if="!user.uuid">
          <md-icon class="mdi mdi-textbox-password"></md-icon>
          <input ng-model="password" name="passwordConfirm" type="password" placeholder="{{ 'ENTITY.USER.FORM.PASSWORD_CONFIRM.PLACEHOLDER' | translate }}" compare-to="user.password" ng-required="true">
          <div ng-messages="form.passwordConfirm.$error" multiple>
            <div ng-message="compareTo">{{ 'VALIDATION.COMPARE.PASSWORD' | translate }}</div>
          </div>
        </md-input-container>
       
        <md-input-container class="md-block">
          <md-icon class="mdi mdi-account-card-details"></md-icon>
          <input ng-model="user.name" name="name" placeholder="{{ 'ENTITY.USER.FORM.NAME.PLACEHOLDER' | translate }}" 
                ng-maxlength="100"
                ng-pattern="/^[A-Za-z0-9-_А-Яа-яЁёІіЇїєЄ ']*$/">
          <div ng-messages="form.name.$error" multiple>
            <div ng-message="maxlength">{{ 'VALIDATION.MAXLEN' | translate:{ len: '100' } }}</div>
            <div ng-message="pattern">{{ 'VALIDATION.PATTERN.NAME' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
          <md-icon class="mdi mdi-at"></md-icon>
          <input ng-model="user.email" name="email" type="email" placeholder="{{ 'ENTITY.USER.FORM.EMAIL.PLACEHOLDER' | translate }}" 
                uniq="'email'" 
                uniq-service="User" 
                uniq-uuid="user.uuid" 
                ng-maxlength="100">
          <div ng-messages="form.email.$error" multiple>
            <div ng-message="uniq">{{ 'VALIDATION.UNIQ.EMAIL' | translate }}</div>
            <div ng-message="email">{{ 'VALIDATION.EMAIL' | translate }}</div>
            <div ng-message="maxlength">{{ 'VALIDATION.MAXLEN' | translate:{ len: '100' } }}</div>
          </div>
        </md-input-container>

      </form>
      
      <action-buttons save="save()" action-disabled="form.$invalid"></action-buttons>
    </md-card-content>
  </md-card>
</div>