<md-toast>
  <span class="md-toast-text" flex ng-bind="title"></span>
  <md-button class="md-highlight" ng-click="null" ui-sref="{{ message.toList }}" ng-if="message.toList"> К списку </md-button>
  <md-button ng-click="closeToast()">Закрыть</md-button>
</md-toast>









<div class="md-toast-content"> 
  <span class="md-toast-text ng-binding" role="alert" aria-relevant="all" aria-atomic="true">      Сохранено    </span>
  <button class="md-action md-button ng-scope md-success-toast-theme md-ink-ripple md-highlight md-accent" type="button" ng-transclude="" ng-if="toast.action" ng-click="toast.resolve()" ng-class="highlightClasses">      К списку    </button>
</div>