<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button md-ink-ripple" aria-label="Toggle Menu" ng-click="$ctrl.toggleLeft()" hide-gt-md>
      <md-icon class="mdi mdi-menu"></md-icon>
    </md-button>
    
    <h2 flex> 
      <a class="navbar-brand" ui-sref="main" ng-bind="$ctrl.brandName"></a> 
      <span ng-bind-html="$ctrl.getTitle()"></span> 
    </h2>
  </div>
</md-toolbar>
 