<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title>{{title}}</title>
    <meta name="fragment" content="!">

    <!-- Apple META -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Fav Icon -->
    <link href="{{ favicon }}" rel="shortcut icon" type="image/x-icon">

    <!-- Application CSS Files -->
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
  </head>

  <body ng-cloak layout="column">
    <header layout="row"></header>
    <div flex layout="row">
      <side-menu layout="column"></side-menu>
      <md-content flex layout-fill id="content" ui-view>
        <div layout="row" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </md-content>
    </div>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}<script type="text/javascript" src="{{ jsFile }}"></script>{% endfor %}
  </body>
</html>