<md-card-title>
  <md-card-title-text>
    <span class="md-headline" title="{{title}}">{{title}}</span>
  </md-card-title-text>
</md-card-title>

<md-table-container>
  <!-- md-row-select multiple -->
  <table md-table ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="loadItems">
      <!-- TITLES ROW-->
      <tr md-row>
        <th class="md-text-center" ng-class="{[col.classes]: true}" md-order-by="{{col.id}}" ng-repeat="col in columns" md-column>
          <span ng-bind="col.locale"></span>
        </th>
        <th class="md-text-center smartlist-buttons" ng-class="{[col.classes]: true}" md-column>
          <md-switch ng-model="params.useFilters">{{ 'COMPONENT.SMART_LIST.FILTERS.TITLE' | translate }}</md-switch>
        </th>
      </tr>
      <!-- FILTERS ROW-->
      <tr class="show-hide" ng-show="params.useFilters">
        <td ng-repeat="col in columns">
          <table-filter type="col.type" id="col.id" filter="softFilter" reset="reset"></table-filter>
        </td>
        <td class="smartlist-buttons" md-cell>
          <div layout="row" layout-align="center">
            <md-switch ng-model="params.partialMode" ng-change="loadItems()">{{ 'COMPONENT.SMART_LIST.FILTERS.PARTIAL' | translate }}</md-switch>
          </div>
        </td>
      </tr>
    </thead>
    <tbody md-body>
      <tr class="md-text-center" md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in result.rows" ng-mouseover="hoverIn(item)" ng-mouseleave="hoverOut(item)" title="">
        <td class="md-text-center" ng-class="{[col.classes]: true}" ng-repeat="col in columns" bind-html-compile="getTypedValue(item, col)" md-cell md-truncate></td>
        <td md-cell class="smartlist-buttons">
          <md-button title="{{ 'COMPONENT.SMART_LIST.ACTIONS.VIEW' | translate }}" class="md-icon-button launch" ng-show="item.hovered" ng-click="$event.stopPropagation();" ui-sref="{{ getViewState(item, false) }}" aria-label="View">
            <md-icon class="mdi mdi-eye"></md-icon>
          </md-button>
          <md-button title="{{ 'COMPONENT.SMART_LIST.ACTIONS.DELETE' | translate }}" class="md-icon-button launch" ng-show="item.hovered" ng-click="deleteItem(item, $index); $event.stopPropagation();" ng-if="Auth.cPerm(permissions.edit) && options.deleteMode" aria-label="Remove">
            <md-icon class="mdi mdi-delete"></md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination 
  md-label="{page: ('COMPONENT.SMART_LIST.PAGINATOR.PAGE' | translate), rowsPerPage: ('COMPONENT.SMART_LIST.PAGINATOR.ROWS_PER_PAGE' | translate), of: ('COMPONENT.SMART_LIST.PAGINATOR.OF' | translate )}" 
  md-limit="query.pageSize"
  md-limit-options="pageSizes" 
  md-page="query.page" 
  md-total="{{ result.count }}" 
  md-on-paginate="loadItems" 
  md-page-select>
</md-table-pagination>

<md-button class="md-fab md-primary md-fab-fixed" type="button" ui-sref="{{state}}.edit( { id: '' })" aria-label="{{newItemTitle}}" title="{{newItemTitle}}" ng-if="options.createMode && Auth.cPerm(permissions.edit)">
  <md-icon class="mdi mdi-plus"></md-icon>
</md-button>