<div ng-if="type == 'TEXT'" layout="row" flex>
  <md-input-container class="md-block hide-error-msg" md-no-float>  
      <input type="text" class="form-control" ng-model="localSearch" placeholder="{{ 'COMPONENT.SMART_LIST.FILTERS.TEXT.PLACEHOLDER' | translate }}" ng-change="changeTextFilter(localSearch)" aria-label="filter-{{id}}" clear-input="localSearch = ''; changeTextFilter()">
  </md-input-container>
  <div layout="column" layout-align="center">
  </div>
</div>


<div ng-if="type == 'BOOLEAN'" layout="row" flex style="padding-bottom: 22px;">
 <md-input-container class="md-block hide-error-msg" md-no-float>
    <label translate="COMPONENT.SMART_LIST.FILTERS.SELECT.PLACEHOLDER"></label>
    <md-select ng-model="localSearch" ng-change="changeTextFilter(localSearch)" aria-label="filter-{{id}}">
      <md-option value="" translate="COMPONENT.SMART_LIST.FILTERS.SELECT.CLEAR"></md-option>
      <md-option value="true" translate="COMPONENT.SMART_LIST.FILTERS.SELECT.TRUE"></md-option>
      <md-option value="false" translate="COMPONENT.SMART_LIST.FILTERS.SELECT.FALSE"></md-option>
    </md-select>
  </md-input-container>
</div>
<div ng-if="type == 'DATE'" layout="column" flex>
  <md-input-container class="max-width-150 hide-margin-top" layout="row">
    <input time="false" date="true" mdc-datetime-picker type="text" id="from" placeholder="{{ 'COMPONENT.SMART_LIST.FILTERS.DATE.FROM' | translate }}" ng-model="localDate.startDate" max-date="localDate.endDate" class="md-input" ng-change="changeDateFilter(localDate)">
    <md-icon class="mdi md-icon-button mdi-cancel" flex="nogrow" ng-show="localDate.startDate" ng-click="localDate.startDate = null; changeDateFilter(localDate)"></md-icon>
  </md-input-container>
  <md-input-container class="max-width-150 hide-margin-top" layout="row">
    <input time="false" date="true" mdc-datetime-picker type="text" id="to" placeholder="{{ 'COMPONENT.SMART_LIST.FILTERS.DATE.TO' | translate }}" ng-model="localDate.endDate" min-date="localDate.startDate" class="md-input" ng-change="changeDateFilter(localDate)"> 
    <md-icon class="mdi md-icon-button mdi-cancel" flex="nogrow" ng-show="localDate.endDate" ng-click="localDate.endDate = null; changeDateFilter(localDate)"></md-icon>    
  </md-input-container>
</div>