/* Default Icons size */
md-icon {
  font-size: 24px;
}

.md-avatar {
  border-radius: 0px;
}

.md-icon-button {
  cursor: pointer;
  color: red !important;
}

.md-fab-fixed {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
.md-fab-fixed md-icon{
  padding-top: 0;
  margin-top: -34px;
  margin-right: 17px;
  font-size: 3em;
}

md-input-container md-select {
  padding-bottom: 2px;
}

form md-input-container md-select {
  margin-bottom: 32px;
}

table.md-table th.md-column {
  padding-right: 5px !important;
  padding-left: 5px !important;
  width: 1px;
}

table.md-table td.md-cell {
  padding-right: 5px !important;
  padding-left: 5px !important;
  width: 1px;
}

.smartlist-buttons {
  text-align: end !important;
}

.hint {
  color: gray;
  font-style: italic;
}

/*
@media (max-width: 599px) {
  .smartlist-buttons {
    max-width: 110px;
    min-width: 110px;
  }
}

@media (min-width: 600px) {
  .smartlist-buttons {
    max-width: 100px;
    min-width: 100px;
  }
}

@media (min-width: 800px) {
  .smartlist-buttons {
    max-width: 90px;
    min-width: 90px;
  }
}

@media (min-width: 1280px) {
  .smartlist-buttons {
    max-width: 80px;
    min-width: 80px;
  }
}

@media (min-width: 1450px) {
  .smartlist-buttons {
    max-width: 70px;
    min-width: 70px;
  }
}
@media (min-width: 1600px) {
  .smartlist-buttons {
    max-width: 60px;
    min-width: 60px;
  }
}
@media (min-width: 1900px) {
  .smartlist-buttons {
    max-width: 50px;
    min-width: 50px;
  }
}
*/



@media (max-width: 599px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1920px) {
  .hidden-xl {
    display: none !important;
  }
}

.max-width-100 {
  max-width: 100px !important;
}
.max-width-150 {
  max-width: 150px !important;
}
.hide-margin-bottom {
  margin-bottom: 0 !important;
}
.hide-margin-top {
  margin-top: 0 !important;
}
