md-toast.md-success-toast-theme div.md-toast-content {
  background-color: lightgreen !important;
  color: black !important;
}

md-toast.md-error-toast-theme div.md-toast-content{
   background-color: lightcoral !important;
  color: black !important;
}

md-toast.md-warning-toast-theme div.md-toast-content {
    background-color: lightsalmon !important;
  color: black !important;
}

md-toast.md-notify-toast-theme div.md-toast-content {
    background-color: skyblue !important;
  color: black !important;
}