<div layout="row" flex layout-align="end center">
  <md-button class="md-raised" ng-click="$ctrl.save()" ng-disabled="$ctrl.actionDisabled" translate="COMPONENT.ACTION_BUTTONS.SAVE" aria-label="Save"></md-button>
</div>
